
<h1>
    Iniciando mis actividades con Angular
</h1>
<hr>
<div>
    <h2>
        {{titulo}}
    </h2>
</div>
<hr>
<div>
    <h2>Con código JS</h2>
        <button (click)= "numero = numero + 1" > + 1</button>
        <span>{{numero}}</span>
        <button (click)= "numero = numero - 1" >- 1</button>
    </div>
<hr>
<div>
    <h2>Con Métodos de la Clase de TS</h2>
        <button (click)= "sumarOtro()" > + 1</button>
        <span>{{otroNumero}}</span>
        <button (click)= "restarOtro()" >- 1</button>
</div>

